<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {{$styles := resources.Get "/styles.scss" | toCSS | minify}}
    <link rel="stylesheet" href="{{$styles.Permalink | relURL}}" />

    <title>{{ .Title }}</title>
  </head>

  <body>
    <div class="columns">
      <div class="column is-one-third">
        <!-- Block for sidebar nav content -->
        {{ block "sidebar" . }}{{ end }}
      </div>
      <div class="column">
        <!-- Block for main content -->
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    <!-- block for footer content -->
    {{ block "footer" . }}{{ end }}
  </body>
</html>
